#col{
  color: rgb(80, 85, 85)
}

#rin{
  color: rgb(107, 33, 224)
}

/*--banner start here--*/
.banner {
    background: rgb(255, 255, 255);
    background-size: cover;
}
.banner-main {
    padding-top:2em;
    text-align:center;
}
.banner-main h1 {
    font-size:3.5em;
    color: #fff;
    margin-top:auto;
    font-family: 'Oswald', sans-serif;
}
span.bann-line {
    background: rgb(0, 0, 0);
    height: 1px;
    width: 200px;
    display: block;
    margin:1.5em auto 1.5em;
}
.banner-main p {
    font-size: 1.05em;
    color: rgb(0, 0, 0);
    width: 50%;
    margin: 0 auto;
    line-height: 1.8em;
}
span.mover {
    background: url(../images/arrows.png)no-repeat;
    width: 22px;
    height: 32px;
    display:inline-block;
    margin: 8em auto 0em;
    cursor: pointer;
}
/*-banner end here--*/
